
a{
    text-decoration: none
}
div{
    max-width: 960px;
}

div#p{
    text-align: justify; 
}

div#slider{
    width: 100%;
    max-width: 960px;
    overflow: hidden;
}
    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 30s slidy infinite;
    }
        div#slider figure img {
            width: 20%;
            height: auto;
            float: left;
            border-radius: 15px;
        }

@keyframes slidy{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
    
}
.flex-item {
    display:flex;
    align-items: center;
}

body{
<<<<<<< HEAD
=======
    font-family: 'Oxygen', serif;
    font-size: 14px;
    max-width : auto;   
>>>>>>> bbb939d7dc4440402f5d0acaddefe2fee213aa24
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;
  width: 960px;
  background-image:url(../ressources/main.jpg);
  align-content: center;
}
#search{
   float:right; 
   margin:50px 30px ; 
   border:#d9d9db 1px solid; 
   background:white; 
   border-radius:5px;
   height: 25px;
   
}
#searchInput{
   height: 22px;
   border:none; 
 
  
    
}
.searchBtn {
    display: block;
    background:url(../ressources/search-button.png) no-repeat;
    width:26px;
    height: 50px;
    float: right;
   
 }
 
.searchBtn:hover {
    background:url(../ressources/search-button.png) right 0 no-repeat;
     
 }
    
.img-border {
    border:#ebebec 4px solid; border-radius:12px
    }
.img-border {border:#ebebec 4px solid; border-radius:12px}


.button {
    display: block;
    width: 60px;
    height: 15px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
