#conteneur
{
    flex-direction: row
}

body{
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;
  width: 960px;
  background-color: #FAFAFA;
  align-content: center;
}