

p{
    text-align: justify; 
}

img{
    border-radius: 15px;
}

#slider{
    width: 100%;
    max-width: 952px;
    overflow: hidden;
    border-radius: 15px;
    border: #ebebec 4px solid; 
}
    #slider figure {
        position: relative;
        width: 400%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }
        #slider figure img {
            width: 25% ;
            height: auto;
            float: left;
        }     

@keyframes slidy{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    100% {left:-200%;}
}

#conteneur
{
    flex-direction: row
}

body{
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-color: #FAFAFA;
    align-content: center;
}
