p{
    text-align: justify; 
}

img{
    border-radius: 15px;
}

#slider{
    width: 100%;
    max-width: 952px;
    overflow: hidden;
    border-radius: 15px;
    border: #ebebec 4px solid; 
}
    #slider figure {
        position: relative;
        width: 400%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }
        #slider figure img {
            width: 25% ;
            height: auto;
            float: left;
        }     

@keyframes slidy{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    100% {left:-200%;}
}
.flex-item {
    display:flex;
    align-items: center;
}


body{
    font-family: 'Oxygen', serif;
    font-size: 14px;
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;

  width: 960px;
  background-image:url(../ressources/main.jpg);
  align-content: center;

}
#search{
   float:right; 
   margin:50px 30px ; 
   border:#d9d9db 1px solid; 
   background:white; 
   border-radius:5px;
   height: 25px;
   
}
#searchInput{
   height: 22px;
   border:none; 
       
}
.searchBtn {
    display: block;
    background:url(../ressources/search-button.png) no-repeat;
    width:26px;
    height: 50px;
    float: right;
   
 }
 
.searchBtn:hover {
    background:url(../ressources/search-button.png) right 0 no-repeat;
     
 }
    
.img-border {
    border:#ebebec 4px solid; border-radius:12px
    }
.img-border {border:#ebebec 4px solid; border-radius:12px}


.Morebutton {
    display: block;
    width: 60px;
    height: 15px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration:none;
}

footer{
    background-color: black;
    width: 100%;
    min-height: 74px;
    margin-top: 50px;
    padding-top: 15px;

}
    footer p{              
        text-align: center;
        color: white;
    }