p{
    text-align: justify; 
}
a#critic{
    color: #55b7c8;
}

img{
    border-radius: 15px;
}

/*test */
#slideshow {
	position: relative;
	width: 100%;
border-radius: 15px;
    border: #ebebec 4px solid; 
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

#slideshow .container {
	position:relative;
	width: 100%;
	height: 400px;
   border-radius: 15px;
    
	overflow: hidden;
}
	
/* le conteneur des slides */
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 400px;
    
}

/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}

/* styles de nos légendes */
#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(225,225,225);
	text-align:right;
	font-family: Condiment, Times, serif;
    font-size: 18px;
	background: #fff;
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}

#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slidy 5s infinite;
}
/*end*/


@keyframes slidy{
    0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%        { left: -200% }
   
}
.flex-item {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin-top:40px
}

.flex-item2 {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin-top:60px
}

body{
    font-family: 'Oxygen', serif;
    background-image:url(../ressources/main.jpg);
    font-size: 14px;
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
}

#page{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    background-image:url(../ressources/main.jpg);
    align-content: center;

}
#search{
   float:right; 
   margin:50px 30px ; 
   border:#d9d9db 1px solid; 
   background:white; 
   border-radius:5px;
   height: 25px;
   
}
#searchInput{
   height: 22px;
   border:none; 
}

.searchBtn {
    display: block;
    background:url(../ressources/search-button.png) no-repeat;
    width:26px;
    height: 50px;
    float: right;
   
 }
 
.searchBtn:hover {
    background:url(../ressources/search-button.png) right 0 no-repeat;
     
 }
    
.img-border {
    border:#ebebec 4px solid; border-radius:12px
    }
.img-border {border:#ebebec 4px solid; border-radius:12px}

.Morebutton {
    display: block;
    width: 60px;
    height: 15px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration:none;
}

footer{
    background-color: black;
    width: 100%;
    min-height: 74px;
    margin-top: 50px;
    padding-top: 15px;

}
    footer p{              
        text-align: center;
        color: white;
    }

.ptype{
    width:270px;
}

.ptype2{
    width:450px;
}
