body{
    margin-left: auto;
    margin-right: auto;
}
#page{
    margin-left: auto;
    margin-right: auto;
  width: 960px;
  background-image:url(../ressources/main.jpg);
  align-content: center;
}
#search{
    float: right;
    margin-top: 50px;
}