

@media (max-width:499px){

p{
    text-align: justify; 
}

img{
    border-radius: 15px;
}

#slider{
    display:none;
}
    #slider figure {
        display:none;
    }
        #slider figure img {
            display:none;
        }     

.flex-item {
    justify-content: space-between;
    display:flex;
    align-items: flex-start;
    margin-top:20px;
    flex-direction: column;
    
}

.flex-item2 {
    justify-content: space-between;
    display:flex;
    align-items: flex-start;
    margin-top:4s0px;
    flex-direction: column;;
}


body{
    font-family: 'Oxygen', serif;
    background-image:url(../ressources/main.jpg);
    font-size: 11px;
}


#page{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    align-content: center;
}

#search{
   float:right; 
   margin:50px 30px ; 
   border:#d9d9db 1px solid; 
   background:white; 
   border-radius:5px;
   height: 25px;
   
}
#searchInput{
   height: 22px;
   border:none; 
}

.searchBtn {
    display: block;
    background:url(../ressources/search-button.png) no-repeat;
    width:26px;
    height: 50px;
    float: right;
   
 }
 
.searchBtn:hover {
    background:url(../ressources/search-button.png) right 0 no-repeat;
     
 }
    
.img-border {
    border:#ebebec 4px solid; border-radius:12px
    }
.img-border {border:#ebebec 4px solid; border-radius:12px}


.Morebutton {
    display: block;
    width: 60px;
    height: 15px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration:none;
}

footer{
    background-color: black;
    width: 100%;
    min-height: 74px;
    margin-top: 50px;
    padding-top: 15px;

}

.customa {
    color: white;
    text-decoration:none;
}
    footer p{ 
        padding:0;         
        text-align: center;
        color: white;
        
    }

.ptype{
    width:270px;
}

.ptype2{
    width:450px;
}
}





@media (min-width:500px){

    body{
    font-family: 'Oxygen', serif;
    background-image:url(../ressources/main.jpg);
    font-size: 11px;
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
}








@media (min-width:960px){
p{

    text-align: justify; 
}



#slider{
    width: 100%;
    max-width: 952px;
    overflow: hidden;
    border-radius: 15px;
    border: #ebebec 4px solid; 
}
    #slider figure {
        position: relative;
        width: 400%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 15s slidy infinite;
    }
        #slider figure img {
            width: 25% ;
            height: auto;
            float: left;
        }     

@keyframes slidy{
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    100% {left:-200%;}
}
.flex-item {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin-top:40px
}

.flex-item2 {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin-top:60px
}


body{

    font-family: 'Oxygen', serif;
    background-image:url(../ressources/main.jpg);
    font-size: 14px;
    max-width : auto;   
    margin-left: auto;
    margin-right: auto;
}


#page{

    margin-left: auto;
    margin-right: auto;

    width: 960px;
    align-content: center;


}

#search{
   float:right; 
   margin:50px 30px ; 
   border:#d9d9db 1px solid; 
   background:white; 
   border-radius:5px;
   height: 25px;
   
}
#searchInput{
   height: 22px;

   border:none; 

}

.searchBtn {
    display: block;
    background:url(../ressources/search-button.png) no-repeat;
    width:26px;
    height: 50px;
    float: right;
   
 }
 
.searchBtn:hover {
    background:url(../ressources/search-button.png) right 0 no-repeat;
     
 }
    
.img-border {
    border:#ebebec 4px solid; 
    border-radius:12px
    }
.img-border {border:#ebebec 4px solid; border-radius:12px}


.Morebutton {
    display: block;
    width: 60px;
    height: 15px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration:none;
}


footer{
    background-color: black;
    width: 100%;
    min-height: 74px;
    margin-top: 50px;
    padding-top: 15px;

}

.customa {
    color: white;
    text-decoration:none;
}
    footer p{ 
        padding:0;         
        text-align: center;
        color: white;
        
    }

.ptype{
    width:270px;
}

.ptype2{
    width:450px;
}


#navBar{
    box-shadow:0 1px 1px #fff;
   
}

#navOption{
    border:#ebebec 4px solid; 
    border-radius:12px;
    width: 952px;
    list-style-type: none; 
    overflow: hidden;
    background-image: url(../ressources/nav.jpg);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
  
}

 ul li {
   float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
   
}
li a:hover{
    background-color: black;
}

.linavbar
{
  border-right: white 1px solid;
    float: left;
}
.socialnav{
    float: left;

    
}
.socialnav:hover{
    background-color: black;
}

}

